body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  padding-top: 70px;
}

body > .container {
  padding: 60px 15px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: circular, Helvetica, sans-serif;
  margin-bottom: 15px;
  text-align:center;
}

p {
  font-size: 1.5em;
}

.navbar-nav {
  margin-top: 40px; 
}

.navbar-brand {
  height: auto;
  font-size: 2.5em;
}

.code {
  background-color: lightgrey;
  padding: 14px;
  margin: 14px 0;
  font-size: 1.25em;
}
